.flex-row, .icon--text {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

h1 {
  font-size: 2rem;
}
@media only screen and (max-width: 800px) {
  h1 {
    font-size: 1.35rem;
  }
}

h2 {
  font-size: 1.25rem;
  color: #FF9270;
}
@media only screen and (max-width: 800px) {
  h2 {
    font-size: 1.05rem;
  }
}

h3 {
  font-size: 1.15rem;
}
@media only screen and (max-width: 800px) {
  h3 {
    font-size: 0.9rem;
  }
}

h4 {
  font-size: 1.01rem;
  font-weight: 500;
}
@media only screen and (max-width: 800px) {
  h4 {
    font-size: 0.9rem;
    font-weight: normal;
  }
}

p {
  font-size: 1rem;
  font-weight: lighter;
}
@media only screen and (max-width: 800px) {
  p {
    font-size: 0.9rem;
  }
}

i {
  font-size: 0.9rem;
  font-weight: lighter;
}
@media only screen and (max-width: 800px) {
  i {
    font-size: 0.8rem;
  }
}

button, .btn--secondary, input[type=submit] {
  padding: 0.5rem;
  font-size: 0.8rem;
  color: #fff;
  text-transform: capitalize;
  background-color: #FF9270;
  border-radius: 0.5rem;
  cursor: pointer;
}
button:hover, .btn--secondary:hover, input[type=submit]:hover {
  background-color: #f8dcca;
}
@media only screen and (max-width: 800px) {
  button, .btn--secondary, input[type=submit] {
    padding: 0.5rem;
    font-size: 0.8rem;
  }
}

.btn--secondary {
  background-color: #f8dcca;
}

.btn--small {
  font-size: 0.8rem;
  padding: 0.3rem;
  font-weight: bold;
}

.btn--white {
  background-color: #fff;
  color: #212121;
}

img {
  max-width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover; /*{ Read thissssssssssssssss} */
}

ul {
  list-style-type: none;
}
ul li {
  font-size: 1rem;
}
@media only screen and (max-width: 800px) {
  ul li {
    font-size: 1rem;
  }
}

hr {
  margin: 2rem auto;
  color: #FF9270;
  border: 1px solid #FF9270;
  width: 80%;
}
@media only screen and (max-width: 800px) {
  hr {
    margin-block: 1rem;
  }
}

.error {
  color: red;
}

.error--background {
  background-color: red;
}

.success {
  color: #FF9270;
}

.loader {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.container {
  width: 85%;
  float: right;
  min-height: 100vh;
  display: grid;
  place-items: center;
  margin: auto;
}
@media only screen and (max-width: 800px) {
  .container {
    padding-block: 1.5rem;
  }
}
.container .container--child {
  margin: auto;
  width: 55%;
  margin: auto;
}
@media only screen and (max-width: 800px) {
  .container .container--child {
    width: 100%;
    margin: auto;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1400px) {
  .container .container--child {
    width: 80%;
    margin: auto;
  }
}

.header, .top--wallets {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-block: 1rem;
  background-color: #FF9270;
  border-radius: 0.5rem;
}
.header *, .top--wallets * {
  color: #212121;
}
.header .main, .top--wallets .main {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}
.header .main img, .top--wallets .main img {
  width: 200px;
  height: 200px;
  margin: 0;
  padding: 0;
}
.header .main .address, .top--wallets .main .address {
  width: 60%;
  text-overflow: ellipsis;
  overflow: hidden;
}

footer {
  border-top: 1px solid rgb(57, 56, 56);
  display: grid;
  place-items: center;
  width: 85%;
  float: right;
  margin-top: 2rem;
}
footer .footer--item {
  width: 55%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}
footer .footer--item .title {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
footer .footer--item .title div:first-child {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0;
}
footer .footer--item .title img {
  width: 200px;
  height: 200px;
}

#topNav {
  width: 85%;
  float: right;
  background-color: #FF9270;
}
#topNav .nav--item {
  width: 55%;
  margin: auto;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  background-color: #FF9270;
  padding: 0.2rem 0.5rem;
  border-bottom: 1px solid rgb(57, 56, 56);
}
#topNav .nav--item button, #topNav .nav--item .btn--secondary {
  background-color: #f8dcca;
  color: #212121;
}
#topNav .nav--item button:hover, #topNav .nav--item .btn--secondary:hover {
  border: 1px solid #f8dcca;
  background-color: rgb(57, 56, 56);
  color: #fff;
}
#topNav .nav--item input {
  width: 400px;
}
#topNav .nav--item img {
  width: 50px;
  height: 50px;
}

.side--nav {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  width: 15%;
  background-color: #FF9270;
  box-shadow: 0 5px 5px 0 rgba(197, 187, 187, 0.2), 0 5px 5px 0 rgba(197, 187, 187, 0.2);
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
}
.side--nav ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  padding-top: 2rem;
}
.side--nav ul li, .side--nav ul a {
  font-size: 1.2rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.assetItem {
  width: 100%;
  border-top: 1px solid rgb(57, 56, 56);
  border-bottom: 1px solid rgb(57, 56, 56);
}
.assetItem .with--address {
  overflow: hidden;
}
.assetItem .with--address h4 {
  width: 70%;
  max-width: 70%;
}
.assetItem .with--address p {
  max-width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.loader {
  width: 100% !important;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  background-color: #f8dcca;
  opacity: 0.6;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10000000;
}

.top--wallets {
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 1.5rem;
}
.top--wallets .balance--card {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  background-color: #f8dcca;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
.top--wallets .balance--card img {
  width: 40px;
  height: 40px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  transition: all 300ms;
}

html, body {
  border: none;
  line-height: 1.3;
  width: 100%;
  height: 100%;
  text-align: justify;
  background-color: rgb(240, 239, 239);
  font-family: "Space Grotesk", "sans-serif";
  color: #212121;
}
html ::-webkit-scrollbar, body ::-webkit-scrollbar {
  width: 0.5rem;
}
html ::-webkit-scrollbar-thumb, body ::-webkit-scrollbar-thumb {
  border: 1px solid #f8dcca;
  border-radius: 0.3rem;
  background-color: #FF9270;
}
html ::-webkit-scrollbar-track, body ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px #fff;
}

form {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem 1rem;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 0.5rem;
}
@media only screen and (max-width: 800px) {
  form {
    width: 100%;
  }
}

input,
select,
textarea {
  width: 90%;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid #FF9270;
  border-radius: 0.3rem;
  color: #fff;
  background-color: rgb(240, 239, 239);
  caret-color: #788fdb;
  resize: none;
  font-weight: lighter;
}
input:hover,
select:hover,
textarea:hover {
  border: 1px solid #FF9270;
}
@media only screen and (max-width: 800px) {
  input,
select,
textarea {
    width: 100%;
    font-size: 16px;
    padding: 0.5rem;
  }
  input::-moz-placeholder, select::-moz-placeholder, textarea::-moz-placeholder {
    font-size: 14px;
  }
  input:-ms-input-placeholder, select:-ms-input-placeholder, textarea:-ms-input-placeholder {
    font-size: 14px;
  }
  input::placeholder,
select::placeholder,
textarea::placeholder {
    font-size: 14px;
  }
}

@media only screen and (max-width: 800px) {
  input[type=submit] {
    font-weight: 100;
    -webkit-border-radius: 0;
    -webkit-appearance: none;
  }
}/*# sourceMappingURL=style.css.map */