footer{
    border-top: 1px solid $grey;
    display: grid;
    place-items: center;
    width: 85%;
    float: right;
    margin-top: $l-margin;
    // box-shadow: 0 5px 5px 0 rgba(197, 187, 187, 0.2), 0 5px 5px 0 rgba(197, 187, 187, 0.2);
    
    .footer--item{
        @include desk-width;
        @include flex-col;
        
        .title{
            width: 100%;
            @include flex-row;
            justify-content: space-between;

         div:first-child{
            @include flex-row;
            gap: 0;
         }   
            img{
                width: 200px;
                height: 200px;
            }
        }
    }
}