footer{
    border-top: 1px solid $grey;
    display: grid;
    place-items: center;
    width: 85%;
    float: right;
    margin-top: $l-margin;

    @include mobile{
        width: 100%;
    }
    
    .footer--item{
        @include desk-width;
        @include flex-col;

        @include mobile{
            @include mobile-width;
        }
        
        .title{
            width: 100%;
            @include flex-row;
            justify-content: space-between;

            @include mobile{
                flex-direction: column;
            }

         div:first-child{
            @include flex-row;
            gap: 0;

            // tablet mode
            @include tablet{
                flex-direction: column;

            }

            // mobile styling
            @include mobile{
                flex-direction: column;
            }
         }   
            img{
                width: 200px;
                height: 200px;

                @include tablet{
                    width: 100px;
                    height: 100px;
                }

                @include mobile{
                    width: 100px;
                    height: 100px;
                }
            }
        }
    }
}