.header{
    @include flex-row;
    width: 100%;
    margin-block: 1rem;
    background-color: $primary;
    border-radius: $m-border-radius;

    .main{
        @include flex-row;

        img{
            width: 200px;
            height: 200px;
            margin: 0;
            padding: 0;
        }

        .address{
            width: 60%;
            text-overflow: ellipsis;
            overflow: hidden;

        }
    }
}