header{
    background-image: url('/background.png'), url('/background2.png');
    background-position: right bottom, left top;
    background-repeat: no-repeat;
    background-color: $primary;
    margin: auto;
    width: 100%;
    min-height: 60vh;
    @include flex-col;
    gap: 0.5rem;
    margin-top: 3.5rem;
    margin-bottom: $m-margin;
    padding: $m-pad;

    *{
        color: $default;
        text-align: center;
    }

    @include mobile{
        margin-top: 3.45rem;
        background-position: left bottom, right top;
        background-size: cover;
    }

    .categories{
        @include flex-row;
        padding: $s-pad;
        flex-wrap: wrap;

        @include mobile{
            @include grid(3, 1fr);
            align-items: center;
            flex-wrap: nowrap;
            justify-content: center;
            margin: auto;
        }
    }
}