.header{
    @include flex-row;
    width: 100%;
    margin-block: 1rem;
    background-color: $primary;
    border-radius: $m-border-radius;
    padding-block: $xs-pad;
    justify-content: space-around;

    @include mobile{
        width: 100%;
        flex-wrap: wrap;

        h2{
            &:last-child{
                display: none;
            }
        }

    }

    .main{
        @include flex-row;
        gap: 0;

        @include mobile{
            gap: 0.5rem;
            display: grid;
            grid-template-columns: 1fr 2fr;

        }

        h2{
            color: $default;
        }

        h1{
            color: $extras;
        }

        .img--container{
            margin: 0;
            padding: 0;
            
            img{
                width: 200px;
                height: 200px;

            }

            @include mobile{
                width: 70px;
                height: auto;
            }
        }

        .address{
            width: 100px;
            text-overflow: ellipsis;
            overflow: hidden;

        }
    }

    .tools{
        h1{
            font-size: 2.5rem;

            @include mobile{
                font-size: 1.8rem;
            }
        }
    }
}