.history--item{
    width: 100%;
    border-bottom: 1px solid $grey;
    @include grid(3,1fr);
    padding-block: $xs-pad;

    p{
        width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;

        @include tablet{
            width: 150px;
        }
    }

    @include mobile{
        @include flex-row;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 0rem;

        p{
            width: 100px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .flex-row{
        margin-left: -0.5rem;
        }
    }
    
}