#topNav{
    width: 85%;
    float: right;
    background-color: $primary;

    // mobile styling
    @include mobile{
        @include mobile-width;
        float: none;
    }

    h3{
        color: $default;
    }
    
    .nav--item{
        @include desk-width;
        @include flex-row;
        justify-content: space-between;
        background-color: $primary;
        padding: 0.2rem $xs-pad;
        border-bottom: 1px solid $grey;

        @include tablet{
            width: 100%;
        }

         // mobile styling
        @include mobile{
            @include mobile-width;
            float: none;
        }

        #searchIcon{
            display: none;

            @include mobile{
                color: $secondary;
                @include flex-row;
            }
        }

        #cancelBtn{
            display: none;
        }

        button{
            background-color: $secondary;
            color: $dark;

            &:hover{
                border: 1px solid $secondary;
                background-color: $grey;
                color: $default;
            }

            @include mobile{
                &:nth-child(2){
                    display: none;
                }
                &:nth-child(1){
                    font-size: 0.7rem;
                }
            }
        }
        
        input{
            width: 400px;

            @include mobile{
                width: 200px;
                display: none;
            }
        }
        
        img{
            width: 50px;
            height: 50px;

            @include mobile{
                display: none;
            }
        }
    }
}