#topNav{
    width: 85%;
    float: right;
    background-color: $primary;
    
    .nav--item{
        @include desk-width;
        @include flex-row;
        justify-content: space-between;
        background-color: $primary;
        padding: 0.2rem $xs-pad;
        border-bottom: 1px solid $grey;

        button{
            background-color: $secondary;
            color: $dark;

            &:hover{
                border: 1px solid $secondary;
                background-color: $grey;
                color: $default;
            }
        }
        
        input{
            width: 400px;
        }
        
        img{
            width: 50px;
            height: 50px;
        }
    }
}