@import './mixins';

// Defaults
.flex-row{
    @include flex-row;
    gap: 0.5rem;
}

.flex-col{
    @include flex-col;
    gap: 0.5rem;
}

.icon--text{
    @extend .flex-row;
}

// Header sizes
// font sizes
a{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

h1{
    font-size: 2rem;
    color: $secondary;

    @include mobile{
        font-size: 1.35rem;
    }
}

h2{
    font-size: 1.25rem;
    color: $primary;

    @include mobile{
        font-size: 1.05rem;
    }
}

h3{
    font-size: 1.15rem;

    @include mobile{
        font-size: 0.9rem;
    }
}

h4{
    font-size: 1.01rem;
    font-weight: 500;

    @include mobile{
        font-size: 0.9rem;
        font-weight: normal;
    }
}

p{
    font-size: 1rem;
    font-weight: lighter;

    @include mobile{
        font-size: 0.9rem;
    }
}

i{
    font-size: 0.9rem;
    font-weight: lighter;

    @include mobile{
        font-size: 0.8rem;
    }
}


// Button & submit input
button, input[type=submit]{
    padding: $xs-pad $m-pad; 
    font-size: 1rem;
    color: $default;
    text-transform: capitalize;
    background-color: $primary;
    border-radius: $m-border-radius;
    cursor: pointer;

    &:hover{
        background-color: $secondary;
    }

    @include mobile{
        padding: $xs-pad;
        font-size: 0.8rem;
    }
}

.btn--secondary{
    @extend button;
    background-color: $secondary;
}

.btn--small{
    font-size: 0.8rem;
    padding: 0.3rem;
    font-weight: bold;
}

.btn--white{
    background-color: $default;
    color: $dark;
}

img{
    max-width: 100%;
    display: block;
    object-fit: cover; /*{ Read thissssssssssssssss} */ 
}

ul{
    list-style-type: none;

    li{
        font-size: 1rem;

        @include mobile{
            font-size: 1rem;
        }
    }
}

hr{
    margin: 2rem auto;
    color: $primary;
    border: 1px solid $primary;
    width: 80%;

    @include mobile{
        margin-block: 1rem;
    }
}

.error{
    color: red;
}

.error--background{
    background-color: red;
}

.success{
    color: $primary;
}

// loading animations
.loader{
    width: 100%;
    margin: auto;
    @include flex-row;
}
// container default
.container{
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    margin: auto;

    @include mobile{
        padding-block: 1.5rem;
    }
    
    .container--item{
        @include flex-col;
        margin: auto;
        @include desk-width;
        flex-wrap: wrap;
        
        @include mobile{
            @include mobile-width;
        }

        @include tablet{
            @include tablet-width;
        }
    }

}