// $primary: #61DB98;
$default: #fff;
$dark: #15191c;
$primary: rgb(37, 20, 111);
$secondary: rgb(7, 136, 191);
$bgColor: #f8f8f8;
$extras: rgb(224, 170, 21);
$grey: rgb(175, 172, 172);

// font(s)
$spaceGrotesk: 'Space Grotesk', 'sans-serif';


// paddings
$l-pad: 2rem;
$m-pad: 1.5rem;
$s-pad: 1rem;
$xs-pad: 0.5rem;

// margin
$xl-margin: 4.5rem;
$l-margin: 2rem;
$m-margin: 1rem;
$s-margin: 0.5rem;

// border radius
$l-border-radius: 1rem;
$m-border-radius: 0.5rem;
$s-border-radius: 0.3rem;
